@charset "UTF-8";

/*
PALETA DE CORES
AZUL ESCURO-#043959
AZUL MEIO CLARO-#04668C
AZUL CLARO-#7EADBF
AZUL MEIO ESCURO/CLARO-#0588A6
BRANCO-#F2F2F2
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color:#043959;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}
#imagen{
    background: #0588A6 url('../imagens/pexels-jeremy-bishop-2397653.jpg') no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center center;
    display: block;
}
#formulario{
    padding: 10px;
    display: block;
}
#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulario > p{
    font-size: 0.8em;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 90%;
    height: 30px;
    background-color:#7EADBF ;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #0588A6;
  
}
.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 90%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration:none;
    background-color: #ffffff;
    border: 1px solid #7EADBF ;
    border-radius: 5px;
    color:#043959 ;
}
.botao:hover{
    background-color: #3982a0;
}
#maill{
    color:#043959 ;
}